/* tile */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-playlist-sidebar-renderer.style-scope.ytd-browse{
    display: none;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] ytd-alert-with-button-renderer.style-scope.ytd-browse[type="INFO"]{
    display: none;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    padding-left: 0;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-list-renderer.style-scope.ytd-item-section-renderer{
    margin-right: 0;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    display: inline-block;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer yt-icon#reorder.style-scope.ytd-playlist-video-renderer{
    display: none;
}
div#menu.style-scope.ytd-playlist-video-renderer{
    display: none;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer div#meta.style-scope.ytd-playlist-video-renderer ytd-video-meta-block.playlist.style-scope.ytd-playlist-video-renderer{
    margin-top: -5px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer{
    border-bottom: none;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer yt-formatted-string#index.style-scope.ytd-playlist-video-renderer{
    display: none;
}


/* ext_playlist_thumb_size */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="0"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 100px;
    --ext_playlist_height: 147px;
    --ext_playlist_thumb_width: 56.5px;
    --ext_playlist_meta_move: 63.5px -40px 0 -107px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="1"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 120px;
    --ext_playlist_height: 158px;
    --ext_playlist_thumb_width: 67.8px;
    --ext_playlist_meta_move: 74.8px -40px 0 -127px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="2"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 140px;
    --ext_playlist_height: 170px;
    --ext_playlist_thumb_width: 79.1px;
    --ext_playlist_meta_move: 86.1px -40px 0 -147px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="3"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 160px;
    --ext_playlist_height: 180px;
    --ext_playlist_thumb_width: 90.7px;
    --ext_playlist_meta_move: 97.7px -40px 0 -167px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="4"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 180px;
    --ext_playlist_height: 192px;
    --ext_playlist_thumb_width: 102px;
    --ext_playlist_meta_move: 109px -40px 0 -187px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="5"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 200px;
    --ext_playlist_height: 203px;
    --ext_playlist_thumb_width: 113px;
    --ext_playlist_meta_move: 120px -40px 0 -207px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="6"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 220px;
    --ext_playlist_height: 215px;
    --ext_playlist_thumb_width: 124.7px;
    --ext_playlist_meta_move: 131.7px -40px 0 -227px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="7"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 240px;
    --ext_playlist_height: 226px;
    --ext_playlist_thumb_width: 136px;
    --ext_playlist_meta_move: 143px -40px 0 -247px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="8"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 260px;
    --ext_playlist_height: 237px;
    --ext_playlist_thumb_width: 147.3px;
    --ext_playlist_meta_move: 154.3px -40px 0 -267px;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_size="9"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_width: 280px;
    --ext_playlist_height: 248px;
    --ext_playlist_thumb_width: 158.2px;
    --ext_playlist_meta_move: 165.2px -40px 0 -287px;
}



ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    width: var(--ext_playlist_width);
    height: var(--ext_playlist_height);
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer ytd-thumbnail#thumbnail.style-scope.ytd-playlist-video-renderer{
    width: var(--ext_playlist_width);
    height: var(--ext_playlist_thumb_width);
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer ytd-thumbnail#thumbnail.style-scope.ytd-playlist-video-renderer #img{
    width: var(--ext_playlist_width);
    height: var(--ext_playlist_thumb_width);
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer div#meta.style-scope.ytd-playlist-video-renderer #video-title{
    width: var(--ext_playlist_width);
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer div#meta.style-scope.ytd-playlist-video-renderer #channel-name{
    width: var(--ext_playlist_width);
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer div#meta.style-scope.ytd-playlist-video-renderer{
    /* margin: calc(var(--ext_playlist_thumb_width) + 7px) -40px 0 calc(-1 * (var(--ext_playlist_width) + 7)); */
    margin: var(--ext_playlist_meta_move);
}


/* ext_playlist_thumb_margin */
/* 0 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="0"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 2px 10px 2px;
}
/* 1 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="1"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 4px 10px 4px;
}
/* 2 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="2"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 6px 10px 6px;
}
/* 3 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="3"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 8px 10px 8px;
}
/* 4 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="4"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 10px 10px 10px;
}
/* 5 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="5"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 12px 12px 12px;
}
/* 6 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="6"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 14px 14px 14px;
}
/* 7 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="7"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 16px 16px 16px;
}
/* 8 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="8"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 18px 18px 18px;
}
/* 9 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_thumb_margin="9"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer{
    margin: 0 20px 20px 20px;
}

/* ext_playlist_contents_margin */
/* 0 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="0"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 0px;
}
/* 1 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="1"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 10px;
}
/* 2 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="2"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 20px;
}
/* 3 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="3"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 30px;
}
/* 4 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="4"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 40px;
}
/* 5 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="5"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 50px;
}
/* 6 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="6"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 60px;
}
/* 7 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="7"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 70px;
}
/* 8 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="8"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 80px;
}
/* 9 */
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="tile"][ext_playlist_contents_margin="9"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] div#contents.style-scope.ytd-item-section-renderer{
    margin: 0 90px;
}


/* ribbon */

ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="ribbon"] ytd-playlist-sidebar-renderer.style-scope.ytd-browse{
    display: none;
}

ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="ribbon"] ytd-browse.style-scope.ytd-page-manager[page-subtype="playlist"] ytd-alert-with-button-renderer.style-scope.ytd-browse[type="INFO"]{
    display: none;
}

ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_view_mode="ribbon"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    padding-left: 20px;
}

/* ext_playlist_font_size */

ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="0"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1rem;
    --ext_playlist_font_small: 1rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="1"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.1rem;
    --ext_playlist_font_small: 1rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="2"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.2rem;
    --ext_playlist_font_small: 1.1rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="3"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.3rem;
    --ext_playlist_font_small: 1.2rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="4"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.4rem;
    --ext_playlist_font_small: 1.3rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="5"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.5rem;
    --ext_playlist_font_small: 1.4rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="6"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.6rem;
    --ext_playlist_font_small: 1.5rem;
}
ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="7"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.7rem;
    --ext_playlist_font_small: 1.6rem;
}ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="8"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.8rem;
    --ext_playlist_font_small: 1.7rem;
}ytd-page-manager#page-manager.style-scope.ytd-app[ext_playlist_font_size="9"] ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"]{
    --ext_playlist_font_normal: 1.9rem;
    --ext_playlist_font_small: 1.8rem;
}

ytd-page-manager#page-manager.style-scope.ytd-app ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] ytd-playlist-video-renderer.style-scope.ytd-playlist-video-list-renderer div#content.style-scope.ytd-playlist-video-renderer div#meta.style-scope.ytd-playlist-video-renderer #video-title.ytd-playlist-video-renderer{
    font-size: var(--ext_playlist_font_normal);
    line-height: calc(var(--ext_playlist_font_normal) + .6rem);
    max-height: none;

    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
ytd-page-manager#page-manager.style-scope.ytd-app ytd-two-column-browse-results-renderer.style-scope.ytd-browse[page-subtype="playlist"] #meta.style-scope.ytd-playlist-video-renderer #metadata.style-scope.ytd-video-meta-block #byline-container.style-scope.ytd-video-meta-block{
    font-size: var(--ext_playlist_font_small);
    line-height: calc(var(--ext_playlist_font_small) + .6rem);
}