@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
html {
  width: 490px;
  height: 480px;
  margin: 0;
  padding: 0;
}

body {
  width: 490px;
  height: 480px;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  padding: 5px;
}

body[lang="en"] {
  font-size: 12px;
}

body[lang="en"] .select_wrapper__title {
  font-size: 16px;
}

body[lang="en"] span.ja {
  display: none;
}

body[lang="en"] select {
  font-size: 12px;
}

body[lang="en"] .tab.active {
  font-size: 14px;
}

body[lang="ja"] span.en {
  display: none;
}

body[color_theme="light"] {
  background-color: white;
  color: black;
}

body[color_theme="light"] select {
  background-color: #f3f3f3;
  color: black;
  border-color: black;
}

body[color_theme="light"] .btn {
  background-color: #f3f3f3;
  color: black;
  border: 0.5px solid black;
}

body[color_theme="light"] .btn:active {
  background-color: #dddddd;
}

body[color_theme="light"] input[type="range"] {
  background-color: #3d3d3d;
}

body[color_theme="light"] #setting_content .setting_description__description {
  border: 1px solid black;
}

body[color_theme="dark"] {
  background-color: #303030;
  color: white;
}

body[color_theme="dark"] select {
  background-color: #444;
  color: white;
  border-color: #ffe0d9;
}

body[color_theme="dark"] .btn {
  background-color: #444;
  color: white;
  border: 0.5px solid #808080;
}

body[color_theme="dark"] .btn:active {
  background-color: #666;
}

body[color_theme="dark"] #setting_content .setting_description__description {
  border: 1px solid #ffe0d9;
}

body[url_alert="true"] p.alert_message {
  display: none;
}

body[url_alert="false"] {
  border: 2px solid #db0000;
}

body[url_alert="false"] div#content {
  filter: blur(3px) opacity(30%) saturate(50%);
  -webkit-user-select: none;
  pointer-events: none;
}

body[url_alert="false"] p.alert_message {
  position: fixed;
  top: 68px;
  font-weight: bold;
  color: #db0000;
  filter: brightness(115%);
}

body[url_alert="false"][lang="ja"] p.alert_message {
  left: 155px;
  font-size: 20px;
}

body[url_alert="false"][lang="en"] p.alert_message {
  left: 145px;
  font-size: 18px;
}

body[url_alert="false"][url_alert="false"] .position_fixed {
  display: none;
}

#header {
  display: flex;
  align-items: flex-end;
  margin: 10px 0 10px 0;
}

.extension_name {
  border-bottom: 1px solid #ff3200;
  color: #ff3200;
  flex: 1;
  font-size: 26px;
  font-family: 'Ubuntu', sans-serif;
  filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.2));
  margin: 0;
  padding-left: 90px;
}

.tab {
  cursor: pointer;
}

.tab.active {
  border-left: 1px #ff3200 solid;
  border-right: 1px #ff3200 solid;
  border-top: 1px #ff3200 solid;
  color: #ff3200;
  font-size: 15px;
}

.tab:not(.active) {
  border-bottom: 1px #ff3200 solid;
  border-left: 1px gray solid;
  border-right: 1px gray solid;
  border-top: 1px gray solid;
  color: gray;
}

.tab p {
  margin: 0;
  padding: 2px 3px 1px 3px;
}

.select_wrapper__title {
  text-align: center;
  font-size: 18px;
}

.select_wrapper__subtitle {
  font-size: 14px;
}

.btn {
  margin: 10px 0 5px 0;
  border-radius: 5px;
  outline: none;
  padding: 2px 8px;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.isInvisible {
  display: none;
}

#option_form__option {
  display: flex;
}

select {
  margin: 2px 0 3px 7px;
  border-radius: 5px;
  padding: 1px 2px;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  font-size: 13px;
  outline: none;
}

.select_wrapper {
  width: calc(100% / 3);
  padding: 0 5px 0 5px;
  text-align: center;
}

dd {
  margin-left: 0;
}

input[type="range"] {
  margin: 12px 0 20px 7px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffe0d9;
  height: 2px;
  width: 100px;
}

input[type="range"]:focus, input[type="range"]:active {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  display: block;
  border: 1.5px solid #ff3200;
  background-color: white;
  border-radius: 50%;
}

.apply_form {
  margin-left: 15px;
  display: flex;
  align-items: baseline;
}

.apply_form .btn {
  margin-right: 7px;
}

[changeable="false"] dd {
  filter: opacity(30%) saturate(50%);
  -webkit-user-select: none;
  pointer-events: none;
}

#setting_content #setting_content__contents {
  display: flex;
}

#setting_content .setting_form {
  margin: 0 5px 0 10px;
  min-width: 160px;
}

#setting_content #setting_description {
  flex: 1;
}

#setting_content .setting_description__description {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 7px;
  overflow: hidden auto;
  height: 300px;
  max-width: 285px;
}

#setting_content .setting_description__description .setting_description_padding {
  width: 7px;
  height: 7px;
}

#setting_content details {
  font-size: 12px;
  padding-left: 25px;
  margin-bottom: 10px;
}

#setting_content summary {
  font-size: 13px;
  margin-left: -25px;
  background: linear-gradient(transparent 90%, #ff320093 90%);
  font-style: italic;
  margin-bottom: 3px;
}

#setting_content a {
  color: white;
}
