// This file should be transpiled to ./Popup.css

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

$alert : #db0000;
$main : #ff3200;

html{
    width: 490px;
    height: 480px;
    margin: 0;
    padding: 0;
}

body{
    width: 490px;
    height: 480px;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    padding: 5px;

    &[lang="en"]{
        font-size: 12px;

         .select_wrapper__title{
            font-size: 16px;
        }

        span.ja{
            display: none;
        }

        select{
            font-size: 12px;
        }

        .tab.active{
            font-size: 14px;
        }
    }

    &[lang="ja"] span.en{
        display: none;
    }
    
    &[color_theme="light"]{
        background-color: white;
        color: black;

        select{
            background-color: #f3f3f3;
            color: black;
            border-color: black;
        }

        .btn{
            background-color: #f3f3f3;
            color: black;
            border: 0.5px solid black;

            &:active{
                background-color: #dddddd;
            }
        }

        input[type="range"]{
            background-color: #3d3d3d;
        }

        #setting_content .setting_description__description{
            border: 1px solid black;
        }

        .for_dark_theme{
            display: none;
        }
    }
    
    &[color_theme="dark"]{
        background-color: #303030;
        color: white;

        select{
            background-color: #444;
            color: white;
            border-color: #ffe0d9;
        }

        .btn{
            background-color: #444;
            color: white;
            border: 0.5px solid #808080;

            &:active{
                background-color: #666;
            }
        }

        #setting_content .setting_description__description{
            border: 1px solid #ffe0d9;
        }

        .for_light_theme{
            display: none;
        }
    }

    &[url_alert="true"] p.alert_message{
        display: none;
    }

    &[url_alert="false"]{
        border: 2px solid $alert;

        div#content{
            filter: blur(3px) opacity(30%) saturate(50%);
            -webkit-user-select: none;
            pointer-events: none;
        }

        p.alert_message{
            position: fixed;
            top: 68px;
            font-weight: bold;
            color: $alert;
            filter: brightness(115%);
        }

        &[lang="ja"] p.alert_message{
            left: 155px;
            font-size: 20px;
        }

        &[lang="en"] p.alert_message{
            left: 145px;
            font-size: 18px;
        }

        &[url_alert="false"] .position_fixed{
            display: none;
        }
    }
}

#header{
    display: flex;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}

.extension_name{
    border-bottom: 1px solid $main;
    color: $main;
    flex: 1;
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.2));
    margin: 0;
    padding-left: 90px;
}

.tab{
    cursor: pointer;

    &.active{
        border-left: 1px $main solid;
        border-right: 1px $main solid;
        border-top: 1px $main solid;
        color: $main;
        font-size: 15px;
    }

    &:not(.active){
        border-bottom: 1px $main solid;
        border-left: 1px gray solid;
        border-right: 1px gray solid;
        border-top: 1px gray solid;
        color: gray;
    }

    p{
        margin: 0;
        padding: 2px 3px 1px 3px;
    }
}

.select_wrapper__title{
    text-align: center;
    font-size: 18px;
}

.select_wrapper__subtitle{
    font-size: 14px;
}

.btn{
    margin: 10px 0 5px 0;
    border-radius: 5px;
    outline: none;
    padding: 2px 8px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

.isInvisible{
    display: none;
}

#option_form__option{
    display: flex;
}

select{
    margin: 2px 0 3px 7px;
    border-radius: 5px;
    padding: 1px 2px;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    font-size: 13px;
    outline: none;
}

.select_wrapper{
    width: calc(100% / 3);
    padding: 0 5px 0 5px;
    text-align: center;
}

dd{
    margin-left: 0;
}

input[type="range"]{
    margin: 12px 0 20px 7px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffe0d9;
    height: 2px;
    width: 100px;

    &:focus, &:active{
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        position: relative;
        width: 15px;
        height: 15px;
        display: block;
        border: 1.5px solid #ff3200;
        background-color: white;
        border-radius: 50%;
    }
}

.apply_form{
    margin-left: 15px;
    display: flex;
    align-items: baseline;

    & .btn{
        margin-right: 7px;
    }
}

[changeable="false"] dd{
    filter: opacity(30%) saturate(50%);
    -webkit-user-select: none;
    pointer-events: none;
}

#setting_content{
    #setting_content__contents{
        display: flex;
    }

    .setting_form{
        margin: 0 5px 0 10px;
        min-width: 160px;
    }

    #setting_description{
        flex: 1;
    }

    .setting_description__description{
        box-sizing: border-box;
        border-radius: 5px;
        padding: 5px 7px;
        overflow: hidden auto;
        height: 300px;
        max-width: 285px;

        .setting_description_padding{
            width: 7px;
            height: 7px;
        }
    }

    details{
        font-size: 12px;
        padding-left: 25px;
        margin-bottom: 10px;
    }
    
    summary{
        font-size: 13px;
        margin-left: -25px;
        background: linear-gradient(transparent 90%, #ff320093 90%);
        font-style: italic;
        margin-bottom: 3px;
    }

    #information{
        vertical-align: baseline;
    }

    #github_repo{
        cursor: pointer;
        text-decoration: underline;
    }

    .open_in_new_tab{
        height: 18px;
        margin-bottom: -5px;
        width: 18px;
    }
}